 button {
  color: var(--secondary-color);
  font-size: 0.875rem;
  padding: 1rem 2rem;
  border: 0 transparent none;
  min-width: 6rem;
  border-radius: 0.25rem;
  font-weight: 600;
  width: 100%;
  border-bottom: 0.25rem solid transparent;
  &:hover {
    border-bottom: 0.25rem solid rgba($color: #000000, $alpha: 0.16);
  }
  &.primary {
    background-color: var(--primary-color);
  }
}
