.header {
  height: 6rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    display: flex;
    span {
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.0625rem;
      color: var(--text-color);
    }
  }
}
