.modal-backdrop {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.25);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 2rem;
  top: 30vh;
  left: 5vw;
  background-color: white;
  display: flex;
  padding: 2rem;
  width: 90vw;
  border-radius: 0.5rem;
  flex-direction: column;
  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .modal {
    left: 50%;
    top: 50%;
    margin-top: -5rem;
    margin-left: -15rem;
    width: 30rem;
    min-height: 10rem;
  }
}
