
.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  label {
    font-size: 0.75rem;
    font-weight: 600;
  }
  input {
    font-size: 1.125rem;
    font-weight: 500;
    height: 2.25rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    &.ng-invalid.ng-touched {
      border-color: var(--danger-color) !important;
    }
  }
  .error {
    color: var(--danger-color);
    font-size: 0.75rem;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  .fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
}
