<form  [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="fields">
    <div class="form-field">
      <label>ID</label>
      <input type="text" formControlName="id" />
      @if (form.controls.id.invalid && form.controls.id.touched) {
        <span class="error">ID no válido!</span>
      }
    </div>
    <div class="form-field">
      <label>Nombre</label>
      <input type="text"  formControlName="name"  />
      @if (form.controls.name.invalid && form.controls.name.touched) {
        <span class="error">Nombre es requerido</span>
      }
    </div>
    <div class="form-field">
      <label>Descripción</label>
      <input type="text"  formControlName="description"  />
      @if (form.controls.description.invalid && form.controls.description.touched) {
        <span class="error">Descripción es requerido</span>
      }
    </div>
    <div class="form-field">
      <label>Logo</label>
      <input type="text"  formControlName="logo"  />
      @if (form.controls.logo.invalid && form.controls.logo.touched) {
        <span class="error">Logo es requerido</span>
      }
    </div>
    <div class="form-field">
      <label>Fecha de liberación</label>
      <input type="date" [min]="minDate" formControlName="date_release"  />
      @if (form.controls.date_release.invalid && form.controls.date_release.touched) {
        <span class="error">Fecha es requerido</span>
      }
    </div>
    <div class="form-field">
      <label>Fecha de Revisión</label>
      <input type="date"  formControlName="date_revision" readonly />
      @if (form.controls.date_revision.invalid && form.controls.date_revision.touched) {
        <span class="error">Fecha es requerido</span>
      }
    </div>
  </div>
  <div class="actions">
    @if ( newRecord() ) {
      <button-bp type="button" (click)="reset()">Reiniciar</button-bp>
    } @else {
      <button-bp routerLink="/">Regresar</button-bp>
    }
    <button-bp type="submit" nameClass="primary">Enviar</button-bp>
  </div>
</form>
