<form  [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="fields">
    <div class="form-field">
      <label>ID</label>
      <input type="text" formControlName="id" />
      @if (form.controls.id.invalid && form.controls.id.touched) {
        <span class="error">ID no válido!</span>
      }
    </div>
    <div class="form-field">
      <label>Nombre</label>
      <input type="text"  formControlName="name"  />
      @if (form.controls.name.invalid && form.controls.name.touched) {
        <span class="error">Nombre es requerido</span>
      }
    </div>
    <div class="form-field">
      <label>Descripción</label>
      <input type="text"  formControlName="description"  />
      @if (form.controls.description.invalid && form.controls.description.touched) {
        <span class="error">Descripción es requerido</span>
      }
    </div>
    <div class="form-field">
      <label>Logo</label>
      <input type="text"  formControlName="logo"  />
    </div>
    <div class="form-field">
      <label>Fecha de liberación</label>
      <input type="date" [min]="minDate" formControlName="date_release"  />
    </div>
    <div class="form-field">
      <label>Fecha de Revisión</label>
      <input type="date"  formControlName="date_revision" />
    </div>
  </div>
  <div class="actions">
    <button type="button" (click)="reset()" class="reset">
      Reiniciar
    </button>
    <button type="submit" class="submit">
      Enviar
    </button>
  </div>
</form>
