.table-content {
  position: relative;
  max-width: 100%;
  width: 100%;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  thead {
    background-color: var(--background);
  }
  th {
    font-size: 0.75rem;
    height: 3rem;
    font-weight: 600;
    color: var(--text-color);
    text-align: left;
    border-bottom: var(--border-color) solid 0.0625rem;
    padding: 0 .5rem;
    &:first-child {
      width: 6rem;
      text-align: center;
    }
  }
  td {
    font-size: 0.875rem;
    height: 3.5rem;
    font-weight: 600;
    color: var(--text-color);
    border-bottom: var(--border-color) solid 0.0625rem;
    padding: 0 .5rem;
    &:first-child {
      width: 6rem;
      text-align: center;
    }
  }
  tr {
    &:last-child {
      td {
        border-bottom: transparent none 0;
      }
    }
  }
  .logo {
    max-width: 4rem;
    display: block;
    height: auto;
    margin: auto;
  }
}
.actions {
  position: relative;
  .btn-options {
    background-color: transparent;
    border: 0 none transparent;
  }
  .dropdown-menu {
    display: flex;
    position: absolute;
    border: 0.0625rem solid var(--border-color);
    background-color: var(--background);
    padding: 0.5rem;
    min-width: 10rem;
    right: 0;
    top: 95%;
    z-index: 1;
    flex-direction: column;
    box-shadow: 0.125rem 0.125rem 0.25rem rgba($color: #000000, $alpha: 0.33);
    .dropdown-option {
      width: 100%;
      background-color: transparent;
      border: 0 none transparent;
      height: 2.5rem;
      &:hover {
        background-color: var(--border-color);
      }
    }
  }
}
.loader {
  position: absolute;
  background-color: rgba($color: #FFFFFF, $alpha: 0.8);
  display: flex;
  left: 0;
  min-height: 6rem;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .table-content {
    overflow: auto;
  }
}
