.title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 1.25rem 0;
  border-bottom: solid var(--text-color) 0.0625rem;
  display: block;
}

.container {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  background-color: var(--white);
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
