<aside class="toolbar">
  <div class="search">
    <input placeholder="Search..." />
  </div>
  <button class="button btn-primary">Agregar</button>
</aside>
<section class="card-table">
  <table>
    <thead>
      <th>Logo</th>
      <th>Nombre del producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>
          #
        </td>
        <td>
          Nombre del producto
        </td>
        <td>
          Descripción
        </td>
        <td>
          01/01/2000
        </td>
        <td>
          01/01/2001
        </td>
        <button>
          ...
        </button>
      </tr>
      <tr>
        <td>
          #
        </td>
        <td>
          Nombre del producto
        </td>
        <td>
          Descripción
        </td>
        <td>
          01/01/2000
        </td>
        <td>
          01/01/2001
        </td>
        <button>
          ...
        </button>
      </tr>
      <tr>
        <td>
          #
        </td>
        <td>
          Nombre del producto
        </td>
        <td>
          Descripción
        </td>
        <td>
          01/01/2000
        </td>
        <td>
          01/01/2001
        </td>
        <button>
          ...
        </button>
      </tr>
      <tr>
        <td>
          #
        </td>
        <td>
          Nombre del producto
        </td>
        <td>
          Descripción
        </td>
        <td>
          01/01/2000
        </td>
        <td>
          01/01/2001
        </td>
        <button>
          ...
        </button>
      </tr>
      <tr>
        <td>
          #
        </td>
        <td>
          Nombre del producto
        </td>
        <td>
          Descripción
        </td>
        <td>
          01/01/2000
        </td>
        <td>
          01/01/2001
        </td>
        <button>
          ...
        </button>
      </tr>
    </tbody>
  </table>
  <section class="footer">
    <span class="results">
      5 Resultados
    </span>
    <aside class="per-page">
      <select>
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>50</option>
      </select>
    </aside>
  </section>
</section>
