.toolbar {
  display: flex;
  justify-content: space-between;
}

.search {
  input {
    min-height: 2.25rem;
    padding: 0 .5rem;
    border-color: var(--secondary-color);
    border-width: 0.0625rem;
    border-style: solid;
    border-radius: 0.25rem;
  }
}

.button {
  border-color: transparent;
  border-width: 0px;
  border-style: none;
  text-align: center;
  min-width: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 2.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  line-height: 2.25rem;
  text-decoration: none;
  &:visited {
    color: var(--secondary-color)
  }
}

.card-table {
  display: flex;
  background-color: var(--white);
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  flex-direction: column;

}
.footer {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  .results {
    font-size: 0.75rem;
    color: var(--text-color);
  }
}

@media (min-width: 768px) {

}
