<aside class="toolbar">
  <div class="search">
    <input placeholder="Search..."
      [value]="state.search()"
      #txtSearch
      (input)="state.search.set(txtSearch.value)"
     />
  </div>
  <a class="button btn-primary" routerLink="agregar-producto">Agregar</a>
</aside>
<section class="card-table">
  <product-list [items]="state.filtered()" />
  <section class="footer">
    <span class="results">
      {{ state.getTotals() }}
    </span>

    <aside class="per-page">
      <select
        #perPageSelect
        (change)="state.onSetPerPage(perPageSelect.value)">
        @for( item of state.optionsPerPage; track item ) {
          <option [value]="item">{{item}}</option>
        }
      </select>
    </aside>
  </section>
</section>
