:root {
  --primary-color: #F5DF66;
  --secondary-color: #0F265C;
  --text-color: #1A1A1A;
  --border-color: #eeeeee;
  --background: #F4F6F9;
  --white: white;
  --danger-color: #df3737;
}
body {
  background: #F4F6F9;
  font-size: 16px;
  font-family: 'Montserrat';
  color: var(--text-color)
}
* {
  margin: 0;
  padding: 0;
}
